@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 255, 246);
    background-size: 400% 400%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradientAnimation 15s ease infinite;
}

#main-box{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 60%;
    height: 40%;
    background: white;
    border-radius: 10px;
    padding: 50px;
    backdrop-filter: blur(12px);
    border: 0.2px solid darkgreen;
}

#all-input{
    height: 315px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 15px;
}

.title{
    margin-bottom: 30px;
    display: flex;
    color: black;
    font-family: 'Prompt', serif;
    font-style: normal;
    font-weight: 700;
}

label{
    color: black;
    font-family: 'Prompt', serif;
    font-style: normal;
    font-weight: 300;
}

.result{
    display: flex;
    align-items: flex-start;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: 0.2px solid rgba(0, 100, 0, 0.377);
    background: rgb(240, 255, 246);
    color: black;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Prompt', serif;
    font-style: normal;
    font-weight: 300;
}

button{
    background-color: rgb(81, 212, 81);
    width: 217px;
    height: 30px;
    border-style: groove;
    border: 2px solid darkgreen;
}